<h2 class="text-center m-4 text-white">Wlecom Admin <%= (current_user.name).upcase %> </h2>
<%= link_to 'Manage Products', change_path , class: "btn btn-warning mb-3 btn-block p-4 font-weight-bolder" %>
<!--if orders more than one do loop -->
    <% if @orders.length > 0 %>
      <% @orders.each do |order| %>

      <!--Display only the orders that have been paid for All users  -->
          <% if order.paid  %>
            <div class="row ">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <h1 class="card-header text-dark text-center">Order info</h1>


                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-6">
                                <div class="card text-primary">
                                    <div class="card-header"><h3>User Info</h3></div>
                                        <div class="card-body ">
            
                                            <h5 class="card-text"> Name: <%=order.user.name%> </h5>
                                            <h5 class="card-text"> Email:  <%=order.user.email%> </h5>
                                            <h5 class="card-text"> City:  <%=order.user.location%> </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card text-success">
                                        <div class="card-header"><h3>Order Info</h3></div>
                                            <div class="card-body">
                                            
                                                <h5 class="card-text"> <%=order.product.name%> </h5>
                                                <h5 class="card-text"> <%=number_to_currency order.product.price%> </h5>
                                                
                             
                                    
                                    <% if order.duration <= 0 %>
                                    <!-- if all baskits has beem delevared -->
                                    <h5>User has finshed all delevary</h5>
                                    <%= link_to 'Remove from orders', order_path(order) , method: :delete, class: "btn btn-danger" %>
                               <% else %>
                                    <!-- if there is 1 or more baskits need to delevar display next time to delevary-->
                                    <!-- how many baskets left -->
                                    <h5 class="card-text text-success"> <span class="text-danger"><%=order.duration%></span> Baskets left </h5>
                                    <!-- get last updated time in local format-->
                                    <% update_localy = order.updated_at.utc.localtime%>
                                    <!-- Next delevary time -->
                                    <%  next_delevary = update_localy + 7.days%>
                                    <!-- get time now in local format-->
                                    <% time_now = Time.now.utc.localtime%>
                                    <!-- subtract Next delevary date From time now date then convert it to words-->
                                    <% days_in_words = distance_of_time_in_words( next_delevary - time_now ) %>    
                                    <!-- display message to user-->                         
                                    <h5> Next delevary on: <span class="text-success"><%= next_delevary.strftime("%F") %></span> after <span class="text-danger"><%= days_in_words %></span></h5>                                                    
                                <% end %>
                                                
                                                
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <%= link_to 'Delivered all basket', order_path(order) , method: :delete , class: "btn btn-danger m-auto btn-lg " %>
                                <%= link_to 'Delivered one', "/orders/#{order.id}/delevary/" , class: "btn btn-warning m-auto btn-lg " %>
                                
                            </div>
                        </div>
                    </div>
            </div>
            
          <% end %>
        <% end %>
    <% end %>


  

  