<h1 class="text-center m-4">Your Order</h1>

<div class="row">


        <div class="col-sm-6">
        <div class="card text-center mb-4" >
        <h1 class="text-dark">product info </h1>
        <%= image_tag @order.product.pictuer , size: '400x400', class: 'card-img-top' %>
        
          <div class="card-body">
            <h3 class="card-title"> <%=@order.product.name%> </h3>
            <h2 class="card-title"> <%=number_to_currency @order.product.price%> </h2>
            <p class="card-text"> <%=@order.product.discreption%> </p>

             </div>
          </div>
        </div>

        <div class="col-sm-6">
        <div class="card text-center mb-4" >
        <h1 class="text-dark">user info </h1>
    
        
          <div class="card-body">
            <h3 class="card-title"> <%=@order.user.name%> </h3>
            <h2 class="card-title"> <%= @order.user.email%> </h2>
            <p class="card-text"> <%=@order.user.location%> </p>

             </div>
          </div>
        </div>


  </div>

  
  

 