<h1 class="text-center m-4">Products</h1>
<!--Link to Create new product-->
<%= link_to 'New Product', new_product_path, class: "btn btn-success mb-4  p-3 pr-5 pl-5 text-center" %>

  <div class="row">
  <!-- Display all products in products.index-->
      <% @products.each do |product| %>
        <div class="col-md-4">
           <div class="card text-center mb-4" >
             <%= link_to (image_tag product.pictuer , size: '200x300', class: 'card-img-top'), product_path(product) %>

                <div class="card-body">
                    <h3 class="card-title"> <%=product.name%> </h3>
                    <h2 class="card-title"> <%=number_to_currency product.price%> </h2>
                    <p class="card-text"> <%=product.discreption%> </p>

                   
                      <!-- Link to edit and delete product-->
                    <%= link_to 'Edit Product', edit_product_path(product) , class: "btn btn-warning" %>
                    <%= link_to 'Delete Product', product_path(product) , method: :delete,  class: "btn btn-danger" %>
                </div>
           </div>
        </div>
      <% end %>
  </div>