<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">

   <a class="navbar-brand" href="#">FRUITY</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Home', home_path , class: "btn btn-outline-light mr-2 mb-1" %>
          </li>

          <li class="nav-item">
            <%= link_to 'Products', products_path, class: 'btn btn-outline-light mr-2 mb-1 ' %>
          </li>

          <li class="nav-item">
          <%= link_to 'About Us', about_path, class: 'btn btn-outline-light mr-2 mb-1 ' %>
          </li>

     </ul>
</div>
<!--If user signed in Show these links-->
  <% if current_user %> 
  
    <%= link_to 'Acount', edit_user_registration_path,  class: 'btn btn-warning mr-1 mb-1' %>
    
      <%= link_to 'Orders', orders_path,  class: 'btn btn-success mr-1 mb-1' %>
      
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-danger mr-1 mb-1' %>
     
       <!--If user who signed in is an Admin -->
         <%if current_user.admin %>
          
             <%= link_to 'Admin Controller', admin_path ,  class: 'btn btn-primary font-weight-bold mb-1' %>
         
         <% end %>
  

  <% else%>  
  <!--If user NOT signed in show these links -->
      <%= link_to 'Log In', new_user_session_path , class: 'btn btn-success mr-1 ml-1' %>
      <%= link_to 'Sign Up', new_user_registration_path , class: 'btn btn-primary mr-1 ml-1' %>
      
  <%end%>
  
</nav>